<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="qarm_complete">

    <xacro:include filename="qarm1.urdf.xacro" />

    <xacro:include filename="ros2_control.urdf.xacro" />

    <xacro:include filename="sensors.urdf.xacro" />


    <!-- <gazebo>
        <plugin name="gazebo_grasp_fix" filename="libgazebo_ros2_grasp_fix.so">
            <arm>
                <arm_name>qarm_complete</arm_name>
                <palm_link>gripper_base_link</palm_link>
                <gripper_link>a1_link</gripper_link>
                <gripper_link>a2_link</gripper_link>
                <gripper_link>b1_link</gripper_link>
                <gripper_link>b2_link</gripper_link>
            </arm>
            <forces_angle_tolerance>100</forces_angle_tolerance>
            <update_rate>10</update_rate>
            <grip_count_threshold>4</grip_count_threshold>
            <max_grip_count>8</max_grip_count>
            <release_tolerance>0.05</release_tolerance>
            <disable_collisions_on_attach>true</disable_collisions_on_attach>
            <contact_topic>__default_topic__</contact_topic>
        </plugin>
    </gazebo> -->

</robot>